@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    Palatino,
    Palatino Linotype,
    Palatino LT STD,
    Book Antiqua,
    Georgia,
    serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  min-width: 0;
}
