@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --shadow-glow-md: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
  --shadow-glow-xl: 0px 0px 43px -3px rgba(0, 0, 0, 0.3);
  --shadow-glow-3xl: 0px 0px 60px -3px rgba(0, 0, 0, 0.3);

  --font-serif:
    Palatino Linotype, Palatino, Palatino LT STD, Book Antiqua, Georgia, serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  @apply font-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tour-target {
  position: relative;
}

.absolute.tour-target {
  position: absolute;
}

@keyframes translucent-pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 0.5;
  }
}
@utility animate-translucent-pulse {
  animation: translucent-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-fade-out {
  animation: fade-out 0.5s ease-out 0s 1 forwards;
}

.tour-target::after {
  @apply -inset-1 rounded-xs pointer-events-none z-10 border-2 border-accent animate-translucent-pulse bg-base-content/20;
  position: absolute;
  opacity: 0.5;
  content: '';
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}

* {
  min-width: 0;
  min-height: 0;
  image-rendering: crisp-edges;
}

summary::marker {
  content: '';
}

.tooltip::before,
.tooltip::after {
  z-index: 100;
}

.logo-glow {
  -webkit-box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
  -moz-box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
  box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
}

.fade-in-slow {
  opacity: 0;
  animation: fade-in 5s ease-out 0s 1 forwards;
}

.fade-in-fast {
  opacity: 0;
  animation: fade-in 1s ease-out 0s 1 forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .logo-glow {
    opacity: 1;
    animation: none;
  }
}

.grid-glow {
  --tw-shadow: 0px 0px 300px 300px rgba(0, 0, 0, 0.3);
  --tw-shadow-colored: 0px 0px 300px 300px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.mask-fade-l {
  mask-image: linear-gradient(
    to right,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
.mask-fade-r {
  mask-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
.mask-fade-t {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
.mask-fade-b {
  mask-image: linear-gradient(
    to top,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
