@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes: all;
}
@plugin 'daisyui/theme' {
  name: 'dark';
  --color-neutral: #343c47;
  --color-secondary: #f254a0;
}
@plugin 'daisyui/theme' {
  name: 'light';
  --color-primary: #185abd;
  --color-primary-content: #ffffff;
  --color-secondary: oklch(69.71% 0.329 342.55);
  --color-secondary-content: oklch(98.71% 0.0106 342.55);
  --color-accent: #8f8569;
  --color-accent-content: #ffffff;
  --color-neutral: #e0e0e0;
  --color-neutral-content: #555555;
  --color-base-100: #f9f9f9;
  --color-base-200: #f3f3f3;
  --color-base-300: #e5e6e6;
  --color-base-content: #1f2937;
  --color-error-content: #ffffff;
  --color-success-content: #ffffff;
  --color-info: #c2d5f2;
}
@plugin 'daisyui/theme' {
  name: 'cupcake';
  --color-neutral: #b3b3b3;
  --color-neutral-content: #0f0f0f;
  --color-secondary: #e882c2;
  --color-accent: #7c592d;
  --color-accent-content: #ffffff;
  --color-error-content: #ffffff;
}
@plugin 'daisyui/theme' {
  name: 'bumblebee';
  --color-neutral: #bbb6b0;
  --color-neutral-content: #1f1d1b;
  --color-secondary: #f39347;
  --color-error-content: #ffffff;
}
@plugin 'daisyui/theme' {
  name: 'emerald';
  --color-neutral: #8f9aae;
  --color-accent: #c3533c;
  --color-accent-content: #ffffff;
  --color-error-content: #ffffff;
}
@plugin 'daisyui/theme' {
  name: 'corporate';
  --color-neutral: #848484;
  --color-accent: #00574f;
  --color-error-content: #ffffff;
}
@plugin 'daisyui/theme' {
  name: 'valentine';
  --color-neutral: #cc4b77;
  --color-info: #00bccf;
  --color-accent: #50b2de;
}
@plugin 'daisyui/theme' {
  name: 'garden';
  --color-neutral: #433719;
}
@plugin "daisyui/theme" {
  name: 'sky';
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(0.5971 0.1367 240.11);
  --color-base-200: oklch(0.5653 0.1367 240.11);
  --color-base-300: oklch(0.5267 0.1367 240.11);
  --color-base-content: oklch(0.9 0.058 230.902);
  --color-primary: oklch(0.85661 0.144 198.645);
  --color-primary-content: oklch(0.40124 0.068 197.603);
  --color-secondary: oklch(0.60682 0.108 309.782);
  --color-secondary-content: oklch(0.96 0.016 293.756);
  --color-accent: oklch(0.93426 0.102 94.555);
  --color-accent-content: oklch(0.18685 0.02 94.555);
  --color-neutral: oklch(0.6869 0.1367 240.11);
  --color-neutral-content: #fff;
  --color-info: oklch(0.4139 0.215 262.88);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(0.87705 0.169 149.213);
  --color-success-content: oklch(0.1479 0.038 27.33);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(0.8072 0.19 27.33);
  --color-error-content: #fff;

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
@plugin 'daisyui/theme' {
  name: 'lofi';
  --color-neutral: #b9b9b9;
  --color-neutral-content: #000000;
  --color-info: oklch(0.7047 0.103 205.9);
}
@plugin 'daisyui/theme' {
  name: 'pastel';
  --color-neutral: oklch(0.6751 0.046 257.417);
  --color-neutral-content: oklch(0.9421 0.013 255.508);
  --color-info: oklch(0.76 0.127 207.078);
  --color-accent: oklch(0.8056 0.093 164.15);
}
@plugin 'daisyui/theme' {
  name: 'fantasy';
  --color-neutral: oklch(0.4852 0.029 256.847);
}
@plugin 'daisyui/theme' {
  name: 'cmyk';
  --color-neutral: oklch(0.4555 0 0);
  --color-accent: oklch(0.7967 0.1686 105.306);
}
@plugin 'daisyui/theme' {
  name: 'lemonade';
  --color-accent: oklch(0.7611 0.1773 100.73);
}
@plugin 'daisyui/theme' {
  name: 'coffee';
  --color-neutral: oklch(0.2567 0.015 326.261);
}
@plugin 'daisyui/theme' {
  name: 'winter';
  --color-neutral: oklch(0.7107 0.063 257.651);
  --color-neutral-content: oklch(0.95 0.01 255);
  --color-accent-content: #fff;
}

@theme {
  --shadow-glow-md: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
  --shadow-glow-xl: 0px 0px 43px -3px rgba(0, 0, 0, 0.3);
  --shadow-glow-3xl: 0px 0px 60px -3px rgba(0, 0, 0, 0.3);

  --font-serif:
    Palatino Linotype, Palatino, Palatino LT STD, Book Antiqua, Georgia, serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  @apply font-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility tour-target {
  & {
    position: relative;
  }
  &.absolute {
    position: absolute;
  }
}

@keyframes translucent-pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 0.5;
  }
}
@utility animate-translucent-pulse {
  animation: translucent-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@utility animate-fade-out {
  animation: fade-out 0.5s ease-out 0s 1 forwards;
}

@utility tour-target {
  &::after {
    @apply -inset-1 rounded-xs pointer-events-none z-10 border-2 border-accent animate-translucent-pulse bg-base-content/20;
    position: absolute;
    opacity: 0.5;
    content: '';
  }
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}

@layer base {
  * {
    min-width: 0;
    min-height: 0;
  }
}

@utility label-text {
  @apply text-base-content text-base;
}

summary::marker {
  content: '';
}

.tooltip::before,
.tooltip::after {
  z-index: 100;
}

@utility fade-in-slow {
  opacity: 0;
  animation: fade-in 5s ease-out 0s 1 forwards;
}

@utility fade-in-fast {
  opacity: 0;
  animation: fade-in 1s ease-out 0s 1 forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@utility logo-glow {
  & {
    -webkit-box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
    -moz-box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
    box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
  }
  @media (prefers-reduced-motion: reduce) {
    & {
      opacity: 1;
      animation: none;
    }
  }
}

@utility grid-glow {
  --tw-shadow: 0px 0px 300px 300px rgba(0, 0, 0, 0.3);
  --tw-shadow-colored: 0px 0px 300px 300px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

@utility mask-fade-l {
  mask-image: linear-gradient(
    to right,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
@utility mask-fade-r {
  mask-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
@utility mask-fade-t {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
@utility mask-fade-b {
  mask-image: linear-gradient(
    to top,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}

.x-text-outline {
  -webkit-text-stroke: thin currentColor;
  -webkit-text-fill-color: transparent;
  text-stroke: thin currentColor;
  text-fill-color: transparent;
}

.prose .spoiler {
  @apply rounded-md;
}

.prose .spoiler.spoiler-reveal {
  @apply bg-base-300/10;
}

.prose .spoiler:not(.spoiler-reveal) {
  @apply bg-base-300 text-transparent select-none border-0;
}

.prose .spoiler:not(.spoiler-reveal) * {
  @apply bg-base-300! text-transparent! select-none! border-0! rounded-md!;
}
