@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
}
@plugin 'daisyui/theme' {
  name: 'light';
  --color-primary: #185abd;
  --color-primary-content: #ffffff;
  --color-secondary: oklch(69.71% 0.329 342.55);
  --color-secondary-content: oklch(98.71% 0.0106 342.55);
  --color-accent: #8f8569;
  --color-accent-content: #ffffff;
  --color-neutral: #e0e0e0;
  --color-neutral-content: #555555;
  --color-base-100: #f9f9f9;
  --color-base-200: #f3f3f3;
  --color-base-300: #e5e6e6;
  --color-base-content: #1f2937;
  --color-error-content: #ffffff;
  --color-success-content: #ffffff;
  --color-info: #c2d5f2;
}

@theme {
  --shadow-glow-md: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
  --shadow-glow-xl: 0px 0px 43px -3px rgba(0, 0, 0, 0.3);
  --shadow-glow-3xl: 0px 0px 60px -3px rgba(0, 0, 0, 0.3);

  --font-serif:
    Palatino Linotype, Palatino, Palatino LT STD, Book Antiqua, Georgia, serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  @apply font-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility tour-target {
  & {
    position: relative;
  }
  &.absolute {
    position: absolute;
  }
}

@keyframes translucent-pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 0.5;
  }
}
@utility animate-translucent-pulse {
  animation: translucent-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@utility animate-fade-out {
  animation: fade-out 0.5s ease-out 0s 1 forwards;
}

@utility tour-target {
  &::after {
    @apply -inset-1 rounded-xs pointer-events-none z-10 border-2 border-accent animate-translucent-pulse bg-base-content/20;
    position: absolute;
    opacity: 0.5;
    content: '';
  }
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}

summary::marker {
  content: '';
}

.tooltip::before,
.tooltip::after {
  z-index: 100;
}

@utility fade-in-slow {
  opacity: 0;
  animation: fade-in 5s ease-out 0s 1 forwards;
}

@utility fade-in-fast {
  opacity: 0;
  animation: fade-in 1s ease-out 0s 1 forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@utility logo-glow {
  & {
    -webkit-box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
    -moz-box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
    box-shadow: 0px 0px 300px 200px rgba(218, 189, 117, 0.13);
  }
  @media (prefers-reduced-motion: reduce) {
    & {
      opacity: 1;
      animation: none;
    }
  }
}

@utility grid-glow {
  --tw-shadow: 0px 0px 300px 300px rgba(0, 0, 0, 0.3);
  --tw-shadow-colored: 0px 0px 300px 300px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

@utility mask-fade-l {
  mask-image: linear-gradient(
    to right,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
@utility mask-fade-r {
  mask-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
@utility mask-fade-t {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
@utility mask-fade-b {
  mask-image: linear-gradient(
    to top,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.5)
  );
}
